body {
    margin: 0;
    font-family: sans-serif;
    background: #ffffff;
}
header {
    background: #e4a660;
    color: #000000;
    padding: 1rem;
    text-align: center;
}
.intro {
    text-align: center;
    padding: 1rem;
}
.products{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
.product{
    background: #d69d9d;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.product img {
    width: 100%;
    border-radius: 8px;
}
footer {
    background: #000000;
    color: #ac9d8c;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

/* Tablet >600px */
@media (min-width: 600px){
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Desktop >1024px*/
@media (min-width: 1024px){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .intro{
        padding: 2rem;
        font-size: 1.2rem;
    }
}